/*** General ***/

body {
  color: #000;
  font-size: 16px;
  font-size: 100%;
  font-family: "OpenSans";
}
* {
  box-sizing: border-box;
}

/*** Images ***/

img {
  width: 100%;
}
.lg-imgs {
  margin: 1% 0;
}
.sm-imgs {
  margin: 1% 0;
}

/*** Typeography ***/

h1 {
  font-size: 3em !important;
}
h2 {
  font-size: 2em !important;
}
h3 {
  font-size: 1.5em !important;
}
a {
  color: #990000 !important;
  text-decoration: none !important;
}
a:hover {
  color: #910006 !important;
  text-decoration: underline !important;
}
.text-styles blockquote {
  font-style: italic;
  border-left: solid #990000 2px;
  padding-left: 15px;
}

/*** Navigation & Breadcrumbs ***/

.breadcrumbs {
  list-style: none;
  margin-left: 0;
}

.breadcrumbs li {
  color: #990000;
  font-size: 0.61111em;
  line-height: 0.61111em;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
}

.breadcrumbs li:after {
    color: #AAAAAA;
    content: "/";
    margin: 0 0.66667em;
    position: relative;
    top: 1px;
}

.breadcrumbs li.current {
    color: #333333 !important;
    cursor: default;
}

.breadcrumbs li.unavailable {
    color: #999999 !important;
}

/*** Buttons and Forms ***/

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="submit"] {
  width: 50%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #590000;
}
input[type="submit"]:hover {
  background-color: #990000;
  box-shadow: 0px 5px 3px #DDD;
  transition: .2s linear;
}

/*** Additional CSS ***/

.logo-colors {
  margin: 1% 0;
  min-height: 100px;
}
.color-pallette ul {
  margin-top: 0;
  padding: 0;
}
.color-pallette ul li {
  display: inline-block;
  padding: 2%;
  margin: 10px;
  background-color: #cccccc;
  color: #fff;
}
li#li-1 {
  background-color: #990000;
}
li#li-2 {
  background-color: #590000;
}

/*** Footer ***/

footer {
  padding: 1%;
  margin-top: 2%;
  background-color: #990000;
  color: #fff;
  text-align: center;
}
